<!DOCTYPE html>
<html lang="en-US" ng-app="Login">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="application/javascript"></script>
<script src="app.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form name="form" action="Geolocation.html">
    <div><label for username>Username:</label><br>
        <input type="text" name="username" id="username" class="form-control" data-ng-model="user.id"><br>
    </div>
    <div><label for password>Password:</label><br>
        <input type="password" name="password" id="password" class="form-control" data-ng-model="user.password"><br><br>
    </div>
     <input type="submit" value="Login"><br><br>
     </div>
    <div>
        <a href="Register.html" class="btn btn-link">Register</a>
    </div>

    <div>
        <a href="googleSignin.html" class="g-signin2" data-onsuccess="onSignIn" value="GoogleSignIn">GoogleSignIn</a>
    </div>
    </form>
</body>

</html>